$blue: #43afff;
$lightBlue: #edf6ff;
$navyBlue: #303f60;
$darkBlue: #33537d;
$skyBlue: #43afff33;
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 85%;
}

.flex {
    display: flex;
}
